.section_text {
    width: 406px;
    /* background-color: aquamarine; */
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: change-background 4s linear infinite;
}
/*@keyframes change-background {*/
/*    0%{*/
/*        background: rgb(232, 147, 147);*/
/*    }*/
/*    50% {*/
/*        background-color: rgb(116, 229, 229);*/
/*    }*/
/*    100% {*/
/*        background-color: rgb(144, 232, 144);*/
/*    }*/
/*}*/
.section_text a {
width: 142px;
height: 18px;
left: 135px;
top: 96.53px;
text-decoration: none;
direction: none;
font-family: 'Gentium Plus', serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #217BF4;
}
.foto {
    display: flex;
    align-items: center;
}
.picture {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.video {
position:relative;
}
.video_img{
position: absolute;
top: 10rem;
right: 7rem;
width: 44px;
height: 44px;
}
.video_inside{
position: absolute;
top: 1rem;
right: 1rem;
width: 12px;
height: 14px;
border-radius: 1px;
}
.picture :nth-child(odd) {
    margin-bottom: 20px;
}
.picture img {
    border-radius: 10px;
}
.foto img {
    border-radius: 10px;
}
h1{
    width: 406px;
    height: 96px;
    font-size: 36px;
}
.section_text p {
width: 406px;
height: 84px;
font-weight: 400;
}
.section_text li{
    color: #217BF4;
}
.section_text li span {
    color:black;
}
 .archievement {
     display: flex;

 }

 .archievement_item{
    width: 336px;
    height: 340px;
    padding-left: 44px;
    padding-top: 46px;
    background: #FFFFFF;
    box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
    border-radius: 14px;
    margin:1rem;
    }
    .vector {
      display: flex;
  }
  .vector p {
    padding-left: 1rem;
    width: 97px;
    height: 20px;
    left: 217px;
    top: 121px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    }
  .people {
      display: flex;
  }
    .people img{
    width: 2rem;
    height: 2rem;
    margin-right: -1rem;
    }
    .people p {
    /* width: 126px; */
    padding-left: 2rem;
    margin-top: 4px;
    font-weight: 600;
    color: #217BF4;
    }
    .members{
        margin-left:-14rem;
        padding-top:0.3rem ;
        font-weight: 600;
        font-size: 16px;

    }

 .archievement_item p{
    width: 274px;
 }
 .archievement_item a {
     color: #217BF4;
     width: 157px;
     height: 16px;
     text-decoration: none;
 }
 .vector2{
     display: flex;
     margin-left: 1rem;
 }
 .vector2 p {
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px ;
 }
 .icon {
     display: flex;
 }
 .icon p span{
     color:#217BF4;
 }
 .archievement_item1{
    width: 206px;
    height: 340px;
    padding-left: 44px;
    padding-top: 46px;
    margin:3rem;
    }
 .archievement_item1 a {
color: #217BF4;
text-decoration: none;
 }
button {
    background-color: #217BF4;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    font-size: smaller;
}

@media only screen and (max-width: 898px) {
    .section {
        flex-direction: column;
    }
    .foto {
        flex-direction: column;
    }
    .picture {
        margin: 0;
    }
    .archievement {
        flex-direction: column;
    }
    .archievement_item1 h1 {
        width: 300px;
    }
    .picture :nth-child(odd) {
        margin-bottom: 5px;
    }
}
